@import url(header.css);
@import url(bannersobrenos.css);
@import url(dados.css);
@import url(img.css);
@import url(salarios.css);
@import url(card.css);
@import url(rodape.css);



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --fonte-principal:'Inter', sans-serif;
    --vermelho:#8E2424;
    --cinza-titulo:#3A404E;
    --cinza:#667085;
    --cor-fundo-footer: #F9FAFB;
}

body{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}